---
http_interactions:
- request:
    method: post
    uri: https://realfavicongenerator.net/api/favicon
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Alternates:
      - '{"favicon.php" 1 {type application/x-httpd-php}}'
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>406 Not Acceptable</title>
        </head><body>
        <h1>Not Acceptable</h1>
        <p>An appropriate representation of the requested resource /api/favicon could not be found on this server.</p>
        Available variants:
        <ul>
        <li><a href="favicon.php">favicon.php</a> , type application/x-httpd-php</li>
        </ul>
        <hr>
        <address>Apache/2.4.7 (Ubuntu) Server at realfavicongenerator.net Port 443</address>
        </body></html>
  recorded_at: Fri, 24 Aug 2018 10:01:14 GMT
recorded_with: VCR 4.0.0
